/* Debug */

/* Hacks */

/* Overrides */
html {
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
}

ul.plain, ol.plain {
    padding: 0;
    margin: 0;
}

ul.plain > li, ol.plain > li {
    list-style-type: none;
}

a.plain {
    text-decoration: none;
    color: inherit;
}

/* Sitewide */
:root {
    /* Don't use the variables, but do use the values */
    --bg: #41292c;
    --fg: #eeeeee;
    --muted: #792359;
    --highlight: #d72483;
    --bright: #fd3e81;
}

body {
    background-color: #41292c;
    color: #eeeeee;
    font-family: 'Open Sans', 'Arial', sans-serif; /* TODO */
}

header, #nav, #nav > ul {
    width: 100%;
}

#nav {
}

#nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #792359;
}

#nav > ul > li {
    flex: 1;
    text-align: center;
}

#nav > ul > li > a {
    display: block;
    padding: 0.5em;
}

#nav > ul > li > a:hover {
    background-color: #d72483;
}

main {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
}

#copyright {
    padding: 0.5em;
    display: block;
    text-align: center;
}

a {
    color: #fd3e81;
    text-decoration: none;
}

/* Page-specific */

/* Start of Home styling */
#index {
    font-size: 1.2em;
}

#index main {
    margin: auto;
    max-width: 60em;
}

#index #introducing-rosie {
    display: block;
    text-align: center;
    font-weight: normal;
    line-height: 2.3em;
}

#index #introducing {
    font-size: 0.8em;
}

#index #rosie {
    font-size: 1.9em;
}

#index #side-scrolling-image-container {
    width: 100%;
    height: 30em;
    position: relative;
    overflow: hidden;
    margin: 3em 0;
}

#index #current-slide-container, #next-slide-container {
    height: 100%;
    width: 100%;
    transition-property: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#index #current-slide-container {
    position: absolute;
    top: 0;
    left: 0;
}

#index #next-slide-container {
    position: absolute;
    top: 0;
    left: 100%;
}

#index #next-slide-container.render, #index #current-slide-container.render {
    background-size: contain;
    background-position: right;
}

#index #light-description {
    display: block;
    text-align: center;
}

#index #sleek {
    max-width: 35%;
    padding-left: 1em;
    position: absolute;
    left: 2%;
    font-size: 1.2em;
}

#index #hotel {
    max-width: 40%;
    padding-left: 1em;
    position: absolute;
    left: 2%;
    font-size: 1.2em;
}

#index .buzzy-content {
    padding: 0.75em 2em;
    line-height: 1.5em;
}

/* End of Home styling */

/*Start of About Us Styling */

#about-us #para1
{
border-top: solid 5px;
border-left: inset 5px;
border-right: solid 5px;
border-bottom: outset 5px;
border-color: #d72483;
padding: 2px 5px 2px 2px;
width: 50%;
text-align: center;
margin: auto;
}

#about-us #Title
{
    text-align: center;
}

#about-us #Logo
{
    display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
	width: 15%;
}

#about-us #graphCanvas {
    color: #EAF0CE;
    background-color: #41292c;
    padding: 10px 10px 10px 10px;
}

#about-us canvas {
    max-height: 18em;
    width: 100%;
}

#about-us #sales {
    text-align: center;
}

#about-us #graphBorder {
    border-top: solid 5px;
    border-left: inset 5px;
    border-right: solid 5px;
    border-bottom: outset 5px;
    border-color: #d72483;
    width: 87%;
    margin: auto;
}

#about-us #graphText {
    float: left;
    position: absolute;
    left: -66px;
    bottom: 240px;
    transform: rotate(-90deg);
    padding: 5px;
}

#about-us .graphBorder {
    border-top: solid 5px;
    border-left: inset 5px;
    border-right: solid 5px;
    border-bottom: outset 5px;
    border-color: #d72483;
}
/*End of "About Us" Styling */

/* Start of Product Specs styling */
#specs #tbl
{
    background-color: #792359; 
    border-bottom: outset 5px;
    border-color: #d72483;
}

#specs .tdTblR
{
    border-top: solid 5px;
    border-left: inset 5px;
    border-right: solid 5px;
    border-color: #d72483;
    padding: 2px 5px 2px 2px;
}

#specs .tdTbl, #specs .tdTblL
{
    border-top: solid 5px;
    border-right: outset 5px;
    border-color: #d72483;
    padding: 2px 5px 2px 2px;
}

#specs #tdad
{
    border-left: inset 5px;
    border-right: solid 5px;
    border-color: #d72483;
}

#specs .tdTblR:hover, #specs .tdTblL:hover, #specs .tdTbl:hover
{   
    background-color: #fd3e81;
}

#specs #tbl
{
    /* margin-left: 30%; */
    margin: auto;
}

#specs #pSpecs
{
    margin-left: 45%; 
}

#specs #aboutSpecs
{
    margin: 0px 10% 30px 10%;
}

/*End of Product Specs Styling*/

/* Beginning of Contact US */

/* #contact-us #inf {
    width : 80%;
    margin : 10px auto;
    box-shadow : 10px 10px 5px white;
    border : 4px solid #0ab;
    border-radius: 12px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;

} */
#contact-us #heading{
    text-align: center;
    display: inline-block;
    /* font-family: 'Righteous'; */
}
#contact-us #icon{
    position: relative;
    height: 150px;
}
/* #contact-us title{
    color: white;
    height: 100px;
    margin: auto;
    border: 2px solid #008dd5;
    background: #f8f7ff;
    text-align: center;
    padding: 1px 10px;
    font-size: 15px;
} */
#contact-us #information {
    color: white;
    border-top: solid #d72483;
    border-bottom: solid #d72483;
    text-align: center;
    font-size: 30px;
}
#contact-us #time { 
    color: white;
    text-align: center;
    font-size: 20px;
}
#contact-us #address { 
    color: white;
    text-align: center;
    font-size: 20px;
}
#contact-us #number { 
    color: white;
    text-align: center;
    font-size: 20px;
}
#contact-us #qOD {
    color: white;
    border-top: solid #d72483;
    border-bottom: solid #d72483;
    text-align: center;
    font-size: 30px;
}

/* end of Contact Us */