/* Debug */

/* Hacks */

/* Overrides */
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
}

ul.plain, ol.plain {
    padding: 0;
    margin: 0;
}

ul.plain > li, ol.plain > li {
    list-style-type: none;
}

a.plain {
    text-decoration: none;
    color: inherit;
}

/* Sitewide */
:root {
    /* Don't use the variables, but do use the values */
    --bg: #41292c;
    --fg: #eeeeee;
    --muted: #792359;
    --highlight: #d72483;
    --bright: #fd3e81;
}

body {
    background-color: #41292c;
    color: #eeeeee;
    font-family: 'Open Sans', 'Arial', sans-serif; /* TODO */
}

header, #nav, #nav > ul {
    width: 100%;
}

#nav {
}

#nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #792359;
}

#nav > ul > li {
    flex: 1;
    text-align: center;
}

#nav > ul > li > a {
    display: block;
    padding: 0.5em;
}

#nav > ul > li > a:hover {
    background-color: #d72483;
}

main {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
}

#copyright {
    padding: 0.5em;
    display: block;
    text-align: center;
}

/* Page-specific */

/* Start of Home styling */
#introducing-rosie {
    display: block;
    text-align: center;
    font-weight: normal;
    line-height: 2.3em;
}

#introducing {
    font-size: 0.8em;
}

#rosie {
    font-size: 1.7em;
}

#side-scrolling-image-container {
    width: 100%;
    background: red;
}

/* End of Home styling */

/* Start of Product Specs styling */
#tbl
{
    background-color: #792359; 
    border-bottom: outset 5px;
    border-color: #d72483;
}

.tdTblR
{
    border-top: solid 5px;
    border-left: inset 5px;
    border-right: solid 5px;
    border-color: #d72483;
    padding: 2px 5px 2px 2px;
}

.tdTbl, .tdTblL
{
    border-top: solid 5px;
    border-right: outset 5px;
    border-color: #d72483;
    padding: 2px 5px 2px 2px;
}

#tdad
{
    border-left: inset 5px;
    border-right: solid 5px;
    border-color: #d72483;
}

.tdTblR:hover, .tdTblL:hover, .tdTbl:hover
{
    background-color: #fd3e81;
}



/*End of Product Specs Styling*/

/* Begiinning of Contact US */

#inf {
    width : 80%;
    margin : 10px auto;
    box-shadow : 10px 10px 5px #023;
    border : 4px solid #0ab;
    border-radius: 12px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;

}
#heading{
    text-align: center;
    display: inline-block;
    font-family: 'Righteous', cursive;
}
#icon{
    position: relative;
    height: 150px;
}
title{
    color: black;
    height: 100px;
    margin: auto;
    border: 2px solid #008dd5;
    background: #f8f7ff;
    text-align: center;
    padding: 1px 10px;
    font-size: 15px;
}
#information {
    color: #222;
    border-top: solid #918ef4;
    border-bottom: solid #918ef4;
    text-align: center;
    font-size: 30px;
}
#time { 
    color: #222222;
    text-align: center;
    font-size: 20px;
}
#address { 
    color: #222222;
    text-align: center;
    font-size: 20px;
}
#number { 
    color: #222222;
    text-align: center;
    font-size: 20px;
}
#qOD {
    color: #222;
    border-top: solid #918ef4;
    border-bottom: solid #918ef4;
    text-align: center;
    font-size: 30px;
}

/* end of Contact Us */